.sidebar
	nav.sidebar-visitor
		a.navbar-brand(href=paths.root)
			img.d-inline-block.align-top(src='https://getbootstrap.jp/docs/4.3/assets/brand/bootstrap-solid.svg' width='30' height='30' alt='')
			| &nbsp;ROBOSTA
		nav.sidebar-visitor__nav
			ul.sidebar-visitor__list
				li.sidebar-visitor__item
					button(type="button" data-toggle="modal" data-target="#loginModal").btn.btn-outline-success.btn-block
						| ログイン
						span.sr-only (current)
				li.sidebar-visitor__item
					a.btn.btn-info.btn-block(href=paths.root + "regist.html")
						| 会員登録
						span.sr-only (current)
	nav.sidebar-item
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") バンダイ
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") 30MM
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") SMP/ミニプラ
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") その他
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") コトブキヤ
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") フレームアームズ（＋MSG）
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") ヘキサギア
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") ゾイド
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") その他
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") グッドスマイルカンパニー
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") MODEROID
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") MaxFactory
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") PLAMAX
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") ボークス
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") ブロッカーズ
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") アオシマ
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") ACKS
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") ハセガワ
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") その他
		.sidebar-menu
			a.sidebar-menu__header(href=paths.root + "archive.html") その他
			nav.sidebar-menu__nav
				ul.sidebar-menu__list
					li.sidebar-menu__item
						a.sidebar-menu__link(href=paths.root + "archive.html") 海外製のメカ
